<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Neptuo" version="5.0.1" targetFramework="net45" />
  <package id="Neptuo.Formatters" version="2.0.0" targetFramework="net45" />
  <package id="Neptuo.Formatters.Composite" version="2.0.0" targetFramework="net45" />
  <package id="Neptuo.Formatters.Composite.Metadata" version="1.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
</packages>